.header {
  background-color: #fff;
  //height: 62px;
  .header_flex-container {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    .logo {
      margin: 20px 0;
      background: url("../img/logo.png") no-repeat 100% 50%;
      -webkit-background-size: contain;
      background-size: contain;
      width: 13%;
      height: 21px;
      @media (min-width: 100px) and (max-width: 480px) {
        width: 97px;
      }
    }
    .top-menu {
      -webkit-align-content: flex-end;
      -ms-flex-line-pack: end;
      align-content: flex-end;
      margin: 24px;
      //width: 40%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      a {
        margin: 0 45px 0 0;
        position: relative;
        color: $blue;
        text-decoration: none;
        font-family: 'PTSans-Regular', sans-serif;
        font-size: 18px;
        &:last-child {
          margin: 0;
        }
        &::after {
          position: absolute;
          left: 0;
          bottom: -30%;
          width: 100%;
          margin: 0 auto;
          border-bottom: 3px solid #ffcd00;
          content: '';
          -webkit-transform: scaleX(0);
          -ms-transform: scaleX(0);
          transform: scaleX(0);
          opacity: 0;
          -webkit-transition: all .4s linear;
          -o-transition: all .4s linear;
          transition: all .4s linear;
        }
        &:hover::after {
          -webkit-transform: scaleX(1);
          -ms-transform: scaleX(1);
          transform: scaleX(1);
          opacity: 1;
        }
        @media (min-width: 100px) and (max-width: 768px) {
          font-size: 16px;
          margin: 0 20px 0 0;
        }
        @media (min-width: 100px) and (max-width: 568px) {
          font-size: 14px;
        }
      }
      @media (min-width: 100px) and (max-width: 480px) {
        display: none;
      }
    }
    .header_flex-container_close {
      display: none;
      position: absolute;
      top: 12px;
      right: 0px;
      width: 38px;
      height: 30px;
      background-color: #ffffff;
      .container-for-close {
        top: 0;
        right: 2px;
        .back-container-for-close {
          width: 38px;
          height: 30px;
          background-color: #ffffff;
          .cross-1 {
            left: 21px;
          }
        }
      }
      @media (min-width: 100px) and (max-width: 480px) {
        display: block;
      }
    }
    .header_flex-container_beefburger {
      display: none;
      position: absolute;
      top: 12px;
      right: 4px;
      width: 30px;
      height: 30px;
      background: url("../img/menu-icon.png") no-repeat 100% 100%;
      -webkit-background-size: contain;
      background-size: contain;
      @media (min-width: 100px) and (max-width: 480px) {
        display: block;
        background-color: #ffffff;
      }
    }
    @media (min-width: 100px) and (max-width: 480px) {
      width: 95%;
      margin: 0 auto;
    }
  }
}