.pop-up-politic {
  width: 65%;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 0 !important;
  .containerForPolitic {
    padding: 50px 35px;
    h2 {
      font-size: 32px;
      color: $blue;
      font-family: 'PTSans-Bold', sans-serif;
      text-align: center;
      margin: 0 0 30px;
      @media (min-width: 100px) and (max-width: 768px) {
        font-size: 28px;
      }
      @media (min-width: 100px) and (max-width: 480px) {
        font-size: 24px;
      }
    }
    p {
      color: $pGray;
      font-size: 20px;
      font-family: 'PTSans-Regular', sans-serif;
      @media (min-width: 100px) and (max-width: 768px) {
        font-size: 16px;
      }
    }
    @media (min-width: 100px) and (max-width: 480px) {
      padding: 60px 20px;
    }
  }
  @media (min-width: 100px) and (max-width: 480px) {
    width: 100%;
  }
}